<!-- <div class="center hero-unit"> -->
<div>
	<h1>Inside Sales Education and Software</h1>
	<h2>
		We teach, train, motivate, and consult technology startups -- and build our own software.
	</h2>
	<div class="splash-link1">
	<a title="$.scrollTo( '#our-services-scroll', 800, {easing:'elasout'} );" href="#our-services-scroll" class="btn btn-large btn-primary" >Learn About Our Services</a>
	<a title="$.scrollTo( '#our-apps-scroll', 800, {easing:'elasout'} );" href="#our-apps-scroll" class="btn btn-large btn-success" id="button-margin">Find Useful Sales Apps and Plug-ins</a>
	<%= link_to image_tag("arrow.png", alt: "Click Here!" )  %>
	</div>
	<div>
	<%= link_to image_tag("1leadcreator.png", alt: "Lead Creator" ) %>
	</div>
	<!-- <%= link_to image_tag("s4s.png", alt: "test", id: "test" )  %>
		<%= link_to image_tag("s4s.png", alt: "test", id: "test" )  %>
		<div id="example-targets">
		<%= link_to image_tag("s4s.png", alt: "test", id: "test" )  %>
		</div>
		<%= link_to image_tag("s4s.png", alt: "test", id: "test" )  %>
		<div id="example-targets2">
		<%= link_to image_tag("s4s.png", alt: "test", id: "test" )  %>
		</div> -->
	
</div>
